{% extends 'base.html.twig' %}

{% block title %}Latest matches{% endblock %}

{% block body %}
<div class="container">
    <h1>Latest matches</h1>

    <div class="col-12 row">
        {% for match in matches %}
        <div class="col-6">
            {% include 'match/partials/single-match.html.twig' with {'match': match} %}
            <br>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
