<div class="row">
    <div class="col-4">
        {% include 'match/partials/player-details.html.twig' with {'player': match.playerOne} %}
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" align="center">{{ match.score }}</h5>
                <p class="card-text" align="center">
                    {{ match.duration }} mins
                </p>
            </div>
        </div>
    </div>

    <div class="col-4">
            {% include 'match/partials/player-details.html.twig' with {'player': match.playerTwo} %}
    </div>

</div>