<div class="row">
    <div class="col-4">
        {% include 'match/partials/player-details.html.twig' with {'player': match.playerOne} %}
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" align="center">{{ match.getScore() }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-4">
            {% include 'match/partials/player-details.html.twig' with {'player': match.playerTwo} %}
    </div>

</div>